body {
    font-family: "Courier New", Courier, monospace;
  }

  #contenedor {
    text-align: center;
    vertical-align: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    background: #fafafa;
    border: 1px solid #dddfde;
  }

  .botonNumero {
    font-size: 1.3em;
    width: 60px;
    height: 60px;
    margin: 6px;
    display: inline-block;
    border: 1px solid #cfcfcf;
    color: #555;
    background: #e9e9e9;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 3px 1px #b1b1b1, #fafafa 0 -1px 0;
  }

  .acertado {
    font-size: 1.3em;
    width: 60px;
    height: 60px;
    margin: 6px;
    background: #a7cf5f;
    color: #495e2d;
    text-shadow: 0 1px 0 #d8eeb2;
    border-top: 1px solid #708743;
    border-left: 1px solid #8ba84c;
    border-right: 1px solid #88a650;
    border-bottom: 1px solid #97b658;
    border-radius: 3px;
    box-shadow: #90b454 0 1px 0 inset;
  }

  .fallado {
    font-size: 1.3em;
    width: 60px;
    height: 60px;
    margin: 6px;
    background: #cf5f5f;
    color: grey;
    text-shadow: 0 1px 0 #eeb2b2;
    border-top: 1px solid #874343;
    border-left: 1px solid #a84c4c;
    border-right: 1px solid #a65050;
    border-bottom: 1px solid #b65858;
    border-radius: 3px;
    box-shadow: #b45454 0 1px 0 inset;
  }

  #tiempo,
  #restantes {
    text-align: right;
    font-size: 50px;
  }

  #contenedor-jugar {
    height: 50%;
    width: 100%;
    position: relative;
    background-color: white;
    z-index: 1;
  }

  #jugar,
  #volver-jugar {
    color: rgb(255, 255, 255);
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: #77d42a;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
  }

  #jugar {
    font-size: 50px;
    padding: 25px;
    margin: 50px;
    width: 80%;
  }

  #volver-jugar {
    visibility: hidden;
    width: 50px;
    height: 50px;
    vertical-align: center;
    margin: auto;
    padding: 10px;
    user-select: none;
  }

  #volver-jugar i {
    font-size: 50px;
  }

  #jugar:hover,
  #volver-jugar:hover {
    background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    background-color: #5cb811;
  }

  #jugar:active,
  #volver-jugar:active {
    position: relative;
    top: 1px;
  }

  h1 {
    align-self: center;
    display: inline-block;
  }

  #grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    border-bottom: 1px solid #dddfde;
    margin-bottom: 30px;
    padding: 10px;
  }

  #mensaje-perdido {
    background-color: tomato;
  }

  #mensaje-ganado {
    background-color: #2ddf37;
  }

  #mensaje-ganado,
  #mensaje-perdido {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
    box-shadow: 0px 0px 21px 0px #959595;
    visibility: hidden;
    z-index: 2;
  }

  #boton_cerrar {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 45px;
    height: 45px;
    width: 45px;
    color: white;
    cursor: pointer;
    background-color: rgb(250, 60, 27);
    /* z-index: 1; */
  }

  #boton_cerrar:hover {
    background-color: rgb(255, 38, 0);
    color: rgb(219, 219, 219);
  }

  .mini-titulos {
    color: rgb(126, 126, 126);
    margin: 0;
  }